*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(to right, wheat, wheat, white);
}

/* INPUT LIST */
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
    top: 10vh;
    width: 100%;
    margin: 0 auto;
    height: 5em;   
}

header h1{
    font-size: 2rem;
    font-weight: 300;
    color: rgb(190, 190, 190);
    margin-bottom: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


form{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

header input,button{
    appearance: none;
    border: none;
    outline: none;a
    background: none;
}

#input-task-list::placeholder{
    color: white;
    letter-spacing: 0.2em;
    font-family:Arial, Helvetica, sans-serif;
}
#input-task-list{
    flex: 1 1 0%;
    background-color: gray;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
}

#task-submit{
    font-size: 0.8em;
    color: rgb(61, 60, 60); ;
    cursor:pointer;
    text-transform: capitalize;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-family'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:none;
}

/* TASK LIST */

main{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    margin-top: 90px;
    font-size: em;
}

